h1, h2, h3, p {
    font-family: "Helvetica";
}

h1 {
    font-size: 100px;
    color: khaki;
}

.bold {
    font-weight: bold;
}

.page-section h2 {
    font-size: 32px;
    color: white;
}

.page-section span {
    color: blue;
}

#index-page-title {
    text-align: center;
    background-image: url("../images/pattern.jpeg")
}

#brushes-heading {
    background-color: mediumspringgreen;
}

#frames-heading {
    background-color: lightcoral;
}

#paint-heading {
    background-color: skyblue;
}
